@import url(style_estrutura_pagina.css);

/*DEFINE AS CONFIGURAÇÔES EM TODOS OS ELEMENTOS DA PÁGINA*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: roboto;
}

/*CRIANDO VARIÁVEIS*/
:root{
    --cor01: #d5d1ec;
    --cor02: #b368fa;
    --cor03: #e0cef0;
    --branca: #ffffff;
}

/*FORMATANDO A TAG main PELO ID geral*/
#geral{
    margin: auto;
    width: 100%px;
    max-width: 100%;
}

/*FORMATANDO O CABEÇALHO*/
#cabecalho{
    width: 200%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    height: 100px;
    background-color: rgb(243, 189, 247);
}

/*CONFIGURANDO MENU DA HORIZONTAL*/
#menu ul {
    display: flex;
    gap: 50px;
    list-style: none;
}

#menu ul img{
    width: 45px;
    height: 25px;
}

/*FORMATANDO O DIV*/  

#principal {
      width: 900px;
      margin: 30px auto;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 5px;
    }
    
#conteudo{
        width: 100%;
        display: flex;
        flex-direction: column;
}

