/*IMPPRTANDO O SELETORES*/
@import url(style_estrutura_pagina.css);

/*FORMATANDO A SECTION CARRINHO*/
#carrinho{
    width: 1000px;
    min-height: 600px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*FORMATANDO A SECTION itens-carrinho*/
.item{
    
    width: 100%;
    height: 60px;
    margin: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--cor02);
    border-bottom: 1px solid var(--cor02);
}

.img-tem img{
    width: 100px;
    height: 100px;
}

.descricoes-itens{
    width: 600px;
    height: 100px;
    margin: 20px 0px;
}

.descricao{
    width: 100%;
    height: 40px;
}

.valores{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.input-item{
    width: 45px;
}

.img-remover img{
    width: 25px;
    height: 25px;
    cursor: pointer;
}
