@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*DEFINE AS CONFIGURAÇÕES EM TODOS OS ELEMENTOS DA PÁGINA*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: roboto;
}

/*CRIANDO VARIÁVEIS*/
:root{
    --cor01: #eee8e8fa;
    --cor02: #9ff8ece1;
    --cor03: #fafc94d0;
    --branca: #e8ebe5;  
}

/*FORMATANDO A TAG main PELO ID geral*/
#geral{
    margin: 20px;
}